:host(#gpt-anywhere-shadow-root-7179470057) {
  #wrapper {

    color: black;
    font-family: "Courier New", monospace;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.15s linear;
    z-index: -1;
  
    #modal {
  
      width: 800px;
      margin: 30px auto;
      max-width: calc(100vw - 20px);
  
      #modal-content {
        width: 100%;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
  
        #modal-content-inner {
          margin-bottom: 20px;
          max-height: calc(100vh - 230px);
          overflow: auto;
        }
  
      }
  
    }
  
    #overlay {
      background: rgba(0, 0, 0, 0.6);
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  
  }
  
  #copy-and-close.button, #close.button {
    color: white;
    font-weight: 600;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    background-color: crimson;
    padding: 0 20px;
    &:hover {
      background-color: lightsalmon;
    }
  }
  
  #wrapper.modal-open {
    opacity: 1;
    z-index: 2147483647; /* max integer */
  
    #modal {
      position: relative;
    }
  
  }
}
